* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 50px;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  background-color: black;
  color: rgb(240, 248, 255);
  transition: all 0.8s ease-in-out;
}

.logo-container {
  flex: 1;
}

.logo {
  font-family: "Sen", sans-serif;
  font-style: 30px;
  color: red;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin: 40px;
  font-family: "Sen", sans-serif;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text-container {
  margin: 0 20px;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  transition: all 0.8s ease-in-out;
}

.left-menu-icon {
  color: #fff;
  font-size: 20px;
  margin-bottom: 60px;
  transition: all 0.8s ease-in-out;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  transition: all 0.8s ease-in-out;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 250px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-image: linear-gradient(
    to right,
    #d31027 0%,
    #ea384d 51%,
    #d31027 100%
  );
}
.featured-button {
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.featured-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 20px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 100%;
  transition: all 1.5s ease-in-out;
}

.movie-list-item-img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: lightgray;
  color: #151515;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
}

.movie-list-item-desc {
  background-color: lightgray;
  color: #151515;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 255px;
  opacity: 0;
}

.movie-list-item-button {
  background-color: #fd5d5d;
  color: #151515;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
}

.arrow {
  font-size: 60px;
  position: absolute;
  top: 120px;
  right: 0;
  opacity: 0.6;
  cursor: pointer;
}

/* Hamburger */

.hamburger {
  cursor: pointer;
  display: none;
  margin: 0 0 0 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 50px;
}

/* Adding Responsiveness */

@media only screen and (max-width: 1170px) {
  .profile-text-container {
    display: flex;
  }
  .profile-text {
    margin: 0 5px 0 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-list {
    position: fixed;
    right: -110%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    background-color: black;
  }

  .nav-item {
    margin: 16px 0;
  }
  .menu-list.active {
    right: 0;
    background-color: #333c83;
  }
}

@media only screen and (max-width: 600px) {
  .featured-desc {
    width: 350px;
  }
  .navbar-container {
    padding: 0 10px 0 50px;
  }
}

@media only screen and (max-width: 500px) {
  .profile-text-container {
    display: none;
  }
  .profile-picture {
    padding: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .featured-desc {
    width: 250px;
  }
  .navbar-container {
    padding: 0 10px 0 50px;
  }
}

/* Toggle Theme Change */

.container.active {
  background-color: white;
  transition: all 0.8s ease-in-out;
}

.movie-list-title.active {
  color: #151515;
  transition: all 0.8s ease-in-out;
}

.navbar-container.active {
  background-color: white;
  color: #151515;
  transition: all 0.8s ease-in-out;
}

.sidebar.active {
  background-color: white;
  transition: all 0.8s ease-in-out;
}

.left-menu-icon.active {
  color: #151515;
  transition: all 0.8s ease-in-out;
}

.toggle.active {
  background-color: black;
  transition: all 0.8s ease-in-out;
}

.nav-link {
  color: white;
}

.nav-link.active {
  color: #151515;
}

.bar.active {
  background-color: #151515;
  transition: all 0.8s ease-in-out;
}

/* .menu-list.active {
  background-color: white;
  transition: all 0.8s ease-in-out;
}

.nav-link.active {
  color: #151515;
  transition: all 0.8s ease-in-out;
} */

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}
